.first {
  box-sizing: content-box;
  float: left;
  border: 20px solid black;
  margin: 20px;
  padding: 20px;
  width: 80%;
}

.second {
  box-sizing: border-box;
  float: left;
  border: 20px solid black;
  margin: 20px;
  padding: 20px;
  width: 80%;
}

p {
  color:  #222222;
  width: 80em;
}
